*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}

.container{
    width: 1300px;
}

/* CLASS UTILITY */

img{
    width: 100%;
}

.fl{
    float: 0 left;
    margin-top: 5px;
}

.fr{
    float: right;
    margin-top: 5px;
}

.container-header::after{
    content: " ";
    display: table;
    clear: both;
}

.container-jumbotron::after{
    content: " ";
    display: table;
    clear: both;
}


/* HEADER */

.container-header{
    width: auto;
}

.logo, .navbar-left {
    display: inline-block;
}

.logo img {
    padding: 20px 30px;
    vertical-align: middle;
}

.navbar-left ul {
    list-style: none;
    padding: 15px 50px; 
    vertical-align: middle; 
}

.navbar-left ul li {
    display: inline-block;
}

.navbar-left ul li a:hover {
    text-decoration: underline black;
}

.navbar-left ul li a {
    color: black;
    text-decoration: none;
    padding: 15px 
}

.navbar-right ul {
    list-style: none;
    vertical-align: middle;
    padding: 15px 40px;
}

.navbar-right ul li {
    display: inline-block;
}

.navbar-right ul li a:hover {
    text-decoration: underline black;
}

.navbar-right ul li a {
    color: black;
    text-decoration: none;
    padding: 20px 
}

.button{
    display: inline;
    margin: 0 10px;
}

.button a {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

/* JUMBOTRON */

.container-jumbotron{
    height: 500px;
    background-color: #b4d0e7;
    position: relative;
    margin: 0 auto;
}

.content-jumbotron{
    float: left;
}

.jumbo-title{
    width: 70%;
    font-size: 30px;
    font-weight: 60px;
    padding: 20px 40px;
    margin: 0 40px;
}

.jumbo-details{
    width: 400px;
    text-align: justify;
    padding: 10px 40px;
    margin: 10px 40px;
}

.container-jumbotron .button{
    margin: 0 auto;
}

.jumbotron-img{
    width: 800px;
    float: right;
    margin-right: 100px;
    margin-top: -300px;
}

/* ROW PRICING */

.container-pricing::after{
    content: " ";
    display: table;
    clear: both;
}

.container-pricing{
    width: 1200px;
    margin: 0 auto;
}

.row-header{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.option-payment .mensile, .option-payment .annuale{
    display: inline;
    padding: 30px;
}

.row .col-left{
    width: 30%;
    height: 800px;
    border: 1px solid gray;
    float: left;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    padding: 5px;
}

.row .col-central{
    width: 30%;
    border: 1px solid gray;
    float: left;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    padding: 5px;
}

.row .col-right{
    width: 30%;
    border: 1px solid gray;
    float: left;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    padding: 5px;
}

.small-hr {
    width: 240px;
    margin-left: 50px;
    color: gray;
}

span{
    color: gray;
}

.p-row{
    line-height: 10px;
    margin-bottom: 20px;
}

.far, .fas{
    padding: 10px;
}

.shop-now a{
    color: #0061ff;
    font-weight: bold;
}

.col-left li{
    list-style: none;
    line-height: 20px;
    margin: 10px;
}

.li .fas{
    color: #0061ff;
}

.list i{
    color: #0061ff;
}

/* BOX ENTERPRISE */

.box-enterprise{
    margin: 50px auto;
    width: 1200px;
    height: 300px;
}

.mini-header{
    width: 1000px;
    margin-left: 60px  ;
    height: 40px;
    text-align: center;
    border: 1px solid gray;
}

.team-contact{
    width: 1000px;
    margin-left: 60px  ;
    height: 200px;
    border: 1px solid gray;
}

.team-contact p, h2, h3{   
    margin-left: 20px;
    margin-top: 10px;
    line-height: 40px;
}

.box-enterprise .button{
   float: right;
   margin-right: 20px;
}

.box-partner{
    width: 1200px;
    height:300px;
    margin:  auto;
}

.box-partner::after{
    content: " ";
    display: table;
    clear: both;
}

.box-img{
    width: 500px;
    margin: 50px auto;
    float: left;
}

.text-partner{
    width: 500px;
    margin: 70px 30px 10px 20px ;
    float: left;
}

.text-partner p{
    margin-top: 10px;
    margin-left: 20px;
}
.box-partner a {
    background-color: white;
    border: 1px solid black;
    color: black;
    margin-left: 10px;
}