*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}

.container{
    width: 1300px;
}

/* CLASS UTILITY */

img{
    width: 100%;
}

.fl{
    float: 0 left;
    margin-top: 5px;
}

.fr{
    float: right;
    margin-top: 5px;
}

.container-header::after{
    content: " ";
    display: table;
    clear: both;
}

.container-jumbotron::after{
    content: " ";
    display: table;
    clear: both;
}


/* HEADER */

.container-header{
    width: auto;
}

.logo, .navbar-left {
    display: inline-block;
}

.logo img {
    padding: 20px 30px;
    vertical-align: middle;
}

.navbar-left ul {
    list-style: none;
    padding: 15px 50px; 
    vertical-align: middle; 
}

.navbar-left ul li {
    display: inline-block;
}

.navbar-left ul li a:hover {
    text-decoration: underline black;
}

.navbar-left ul li a {
    color: black;
    text-decoration: none;
    padding: 15px 
}

.navbar-right ul {
    list-style: none;
    vertical-align: middle;
    padding: 15px 40px;
}

.navbar-right ul li {
    display: inline-block;
}

.navbar-right ul li a:hover {
    text-decoration: underline black;
}

.navbar-right ul li a {
    color: black;
    text-decoration: none;
    padding: 20px 
}

.button{
    display: inline;
    margin: 0 10px;
}

.button a {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

/* JUMBOTRON */

.container-jumbotron{
    height: 500px;
    background-color: #b4d0e7;
    position: relative;
    margin: 0 auto;
}

.content-jumbotron{
    float: left;
}

.jumbo-title{
    width: 70%;
    font-size: 30px;
    font-weight: 60px;
    padding: 20px 40px;
    margin: 0 40px;
}

.jumbo-details{
    width: 400px;
    text-align: justify;
    padding: 10px 40px;
    margin: 10px 40px;
}

.container-jumbotron .button{
    margin: 0 auto;
}

.jumbotron-img{
    width: 800px;
    float: right;
    margin-right: 100px;
    margin-top: -300px;
}

/* ROW PRICING */

.container-pricing::after{
    content: " ";
    display: table;
    clear: both;
}

.container-pricing{
    width: 1200px;
    margin: 0 auto;
}

.row-header{
    /* text-align: center; */
    margin-top: 150px;
    margin-bottom: 20px;
}

.option-payment .mensile, .option-payment .annuale{
    display: inline;
    padding: 10px;
}

.row .col-left{
    width: calc( 100% / 3);
    height: 800px;
    border: 1px solid gray;
    float: left;
    /* margin: 0 15px; */
    text-align: center;
    line-height: 40px;
}

.row .col-central{
    width: calc( 100% / 3);
    border: 1px solid gray;
    float: left;
    /* margin: 0 15px;  */
    text-align: center;
    line-height: 40px;
}

.row .col-right{
    width: calc( 100% / 3);
    border: 1px solid gray;
    float: left;
    /* margin: 0 15px; */
    text-align: center;
    line-height: 40px;
}

.small-hr {
    width: 240px;
    margin-left: 50px;
    color: gray;
}

span{
    color: gray;
}

.p-row{
    line-height: 10px;
    margin-bottom: 20px;
}

.far, .fas{
    padding: 10px;
}

.shop-now a{
    color: #0061ff;
    font-weight: bold;
}

.col-left li{
    list-style: none;
    line-height: 20px;
    margin: 10px;
}

.li .fas{
    color: #0061ff;
}

.list i{
    color: #0061ff;
}

/* BOX ENTERPRISE */

.box-enterprise{
    width: 1200px;
    margin: 0 auto;
    height: 300px;
    margin-top: 40px;
}

.mini-header{
    width: 1200px;
    height: 40px;
    text-align: center;
    border: 1px solid gray;
}

.team-contact{
    width: 1200px; 
    height: 200px;
    border: 1px solid gray;
}

.team-contact p, h2, h3{   
    margin-left: 20px;
    margin-top: 10px;
    line-height: 40px;
}

.box-enterprise .button{
   float: right;
   margin: 20px;
}

/* BOX PARTNER */
.box-partner{
    width: 1200px;
    height:500px;
    margin: 0 auto;
}

.box-partner::after{
    content: " ";
    display: table;
    clear: both;
}

.box-img{
    width: 500px;
    margin: 50px auto;
    float: left;
}

.text-partner{
    width: 500px;
    margin: 70px 30px 10px 20px ;
    float: left;
}

.text-partner p{
    margin-top: 10px;
    margin-left: 20px;
}

.box-partner a {
    background-color: white;
    border: 1px solid black;
    color: black;
    margin-left: 10px;
}

/* BOX DROPBOX BUSINESS */

.drop-business{
    width: 1200px; 
    height: 1200px;
    margin: 0 auto;   
}

.drop-business::after{
    content: " ";
    display: table;
    clear: both;
}

.business-1, .business-2, .business-3, .business-4, .business-5, .business-6 {
    width: 300px;
    height: 300px;
    margin: 100px 40px;
    float: left;
    text-align: left;
}

.drop-business h3{
    margin: 0;
    line-height: 30px;
    margin-bottom: 20px;
}

/* .drop-business h1{
    margin-left: 0;
} */

/* BOX SCOPRI DI PIU */

.box-scopri{
    width: 1200px; 
    height: 200px;
    margin: 0 auto;   
    padding: 20px;
}

.box-scopri a{
    color: #0061ff;
}

/* BOX CLIENTI */

.box-client{
    width: auto; 
    height: 400px;
    margin-bottom: 0;
}

.box-client::after{
    content: " ";
    display: table;
    clear: both;
}

.client-col-left{
    width: 400px;
}

.designit{
    background-color: #a2d39b;
    float: left;
}

.arizona{
    background-color: #61082b;
    float: left;
}

.florida{
    background-color:#0093ce;
    float: left;
}

.topps{
    background-color: #ff1c1c;
    float: left;

}

.designit, .arizona, .florida, .topps{
    width: 180px;
	height: 180px;  
    position: relative;
}

.box-client img{
    padding: 30px;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-colcentral{
    width: 500px;
    height: 200px;
    background-color: yellow;
    float: left;
    
}


.client-colcentral.logo-designit{
    filter: none;
}



.client-colright{
   
}









/* BOX PROVA GRATUITA */

.box-freetrial::after{
    content: " ";
    display: table;
    clear: both;
}

.box-freetrial{
    width: auto; 
    height: 200px;
    background-color: #b4d0e7;
    padding: 150px 300px;
}

.content-freetrial{
    color: #61082b;
    font-weight: 400px;
    float: left;
}

.box-freetrial .button{
    float: right;
}

.box-freetrial a{
    background-color: white;
    color: black;
    font-weight: bold;
}

/* DOMANDE FREQUENTI */

.question{
    width: auto;
    height: 400px;
    margin: 20px 300px;
    padding: 20px;
}

.question h2{
    margin-left: 0;
}

.question p{
    display: inline-block;
    font-weight: bold;

}


/* FOOTER */

.container-footer{
    width: auto; 
    height: 350px;
    background-color: black;
    color: white;
}

.container-footer::after{
    content: " ";
    display: table;
    clear: both;
}

.foot-section{
    width: 200px;
    height: 200px;
    margin: 20px  50px;
    float: left;
}

.container-footer h3{
    margin: 0;
}

.container-footer ul li{
    list-style: none;
    font-size: 15px;
}

.container-footer ul li a{
    text-decoration: none;
    color: white;
    line-height: 25px;
}

.container-footer ul li a:hover {
    text-decoration: underline white;
}

.language{
    margin-left: 40px;
    color: white;
}
