*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}


/* ------------------------ CLASS UTILITY ----------------------- */

img{
    width: 100%;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.button{
    display: inline;
    margin: 0 20px;
}

.small-hr {
    width: 240px;
    margin-left: 50px;
    color: gray;
}

span{
    color: gray;
}

.far, .fas{
    padding: 10px;
}


/* -----------HEADER ------------------ */

.container-header::after{
    content: " ";
    display: table;
    clear: both;
}

.fixed{
  position: fixed; 
  background-color: white;
  border-bottom: 1px solid lightgrey;
  top: 0; 
  width: 100%; 
  z-index: 1001;
}

.logo, .navbar-left {
    display: inline-block;
}

.logo img {
    padding: 20px 30px;
    vertical-align: middle;
}

.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 20px; 
    vertical-align: middle; 
}

.navbar-left ul li, .navbar-right ul li {
    display: inline-block;
    vertical-align: middle;
}

.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    text-decoration: underline black;
}

.navbar-left ul li a, .navbar-right ul li a  {
    color: black;
    text-decoration: none;
    padding: 15px;
}

.button a {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

/* ------------- JUMBOTRON ------------ */

.container-jumbotron::after{
    content: " ";
    display: table;
    clear: both;
}

.container-jumbotron{
    height: 500px;
    background-color: #b4d0e7;
    position: relative;
    margin: 60px 0;
}

.jumbo-title{
    width: 70%;
    font-size: 30px;
    font-weight: 60px;
    padding: 20px 40px;
    margin: 0 40px;
}

.jumbo-details{
    width: 400px;
    text-align: justify;
    padding: 10px 40px;
    margin: 10px 40px;
}

.container-jumbotron .button{
    margin: 0 auto;
}

.jumbotron-img{
    width: 800px;
    margin-right: 100px;
    margin-top: -300px;
}

/* ------------- ROW PRICING --------------*/

.container-pricing::after{
    content: " ";
    display: table;
    clear: both;
}

.container-pricing{
    width: 1200px;
    margin: 0 auto;
}

.row-header{
    margin-top: 150px;
    margin-bottom: 20px;
}

.option-payment .mensile, .option-payment .annuale{
    display: inline;
    padding: 10px;
}

.row .col-left, .row .col-right{
    width: 32%;
    height: 800px;
    border: 1px solid gray;
    text-align: center;
    line-height: 40px;
}

.row .col-central{
    width: 32%;
    height: 800px;
    border: 1px solid gray;
    margin: 0 2%; 
    text-align: center;
    line-height: 40px;
}

.p-row{
    line-height: 10px;
    margin-bottom: 20px;
}

.shop-now a{
    color: #0061ff;
    font-weight: bold;
}

.col-left li, .col-central li, .col-right li{
    list-style: none;
    line-height: 20px;
    margin: 10px;
}

.li .fas{
    color: #0061ff;
}

.list i{
    color: #0061ff;
}

/* -------------------BOX ENTERPRISE--------------- */

.box-enterprise::after{
    content: " ";
    display: table;
    clear: both;
}

.box-enterprise{
    width: 1200px;
    margin: 0 auto;
    height: 300px;
    margin-top: 40px;
}

.mini-header{
    width: 1200px;
    height: 40px;
    text-align: center;
    border: 1px solid gray;
}

.team-contact{
    width: 1200px; 
    height: 200px;
    border: 1px solid gray;
}

.team-contact p, .box-enterprise h2, .box-enterprise h3, .box-partner h2{   
    margin-left: 20px; 
    margin-top: 10px;
    line-height: 40px; 
}

/* ---------BOX PARTNER-------- */

.box-partner{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.box-partner::after{
    content: " ";
    display: table;
    clear: both;
}

.box-img{
    width: 500px;
}

.text-partner{
    width: 500px;
    margin: 70px 30px 10px 20px ;
}

.text-partner p{
    margin-top: 10px;
    margin-left: 20px;
}

.box-partner a {
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* ------------ BOX DROPBOX BUSINESS ------------- */

.drop-business{
    width: 1200px; 
    height: 1200px;
    margin: 0 auto;   
}

.drop-business::after{
    content: " ";
    display: table;
    clear: both;
}

.business-1, .business-2, .business-3, .business-4, .business-5, .business-6 {
    width: 300px;
    height: 300px;
    margin: 100px 40px;
    text-align: left;
}

/* ------------BOX SCOPRI DI PIU --------------- */

.box-scopri{
    width: 1200px; 
    height: 200px;
    margin: 0 auto;   
    padding: 20px;
}

.box-scopri a{
    color: #0061ff;
}

/* ------------BOX CLIENTI------------- */

.box-client::after{
    content: " ";
    display: table;
    clear: both;
}

.h-100{
    height: 100%;
}

.client-col-left{
    width: 400px;
}

.designit{
    background-color: #a2d39b;
}

.arizona{
    background-color: #61082b;
}

.florida{
    background-color:#0093ce;
}

.topps{
    background-color: #ff1c1c;
}

.bicyclerelief{
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.lonelyplanet{
    background-color: #0d2481;
}

.clearchannel{
    background-color: #ffd830;
}

.designit, .arizona, .florida, .topps, .bicyclerelief, .hearst, .lonelyplanet, .clearchannel{
    width: 200px;
	height: 180px;  
    position: relative;
}

.client-img img{
    padding: 30px;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-colcentral{
    width: 719px;
    height: 360px;
    background-color: #f5f5f5;
}

.logo-designit{
    width: 200px;
    padding: 40px;
}

.client-colcentral img{
    filter: none;
}

.client-colcentral p{
    padding: 0 20px;
}

.client-colright{
    width: 400px;
    height: 360px;
}


/* --------------BOX PROVA GRATUITA----------- */

.box-freetrial::after{
    content: " ";
    display: table;
    clear: both;
}

.box-freetrial{
    width: auto; 
    background-color: #b4d0e7;
    padding: 80px 250px ;
}

.content-freetrial{
    color: #61082b;
    font-weight: 400px;
}

.box-freetrial a{
    background-color: white;
    color: black;
    font-weight: bold;
}

/* -------------DOMANDE FREQUENTI-------------- */

.question{
    width: auto;
    height: 500px;
    margin: 20px 300px;
    padding: 20px;
}

.question h2{
    margin-left: 0;
}

.question p{
    display: inline-block;
    font-weight: bold;
}

.question .fas{
    margin-left: 300px;
}

/*----------- FOOTER-------------- */

.container-footer{
    height: 350px;
    background-color: black;
    color: white;
}

.container-footer::after{
    content: " ";
    display: table;
    clear: both;
}

.foot-section{
    width: 200px;
    height: 200px;
    margin: 20px 50px;
}

.container-footer h3{
    margin: 0;
}

.container-footer ul li{
    list-style: none;
    font-size: 15px;
}

.container-footer ul li a{
    text-decoration: none;
    color: white;
    line-height: 25px;
}

.container-footer ul li a:hover {
    text-decoration: underline white;
}

.language{
    margin-left: 40px;
    color: white;
}
